#masthead,
.site-header{
	background: rgba(13,147,69,1);
	background: -moz-linear-gradient(45deg, rgba(13,147,69,1) 0%, rgba(184,211,5,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(13,147,69,1)), color-stop(100%, rgba(184,211,5,1)));
	background: -webkit-linear-gradient(45deg, rgba(13,147,69,1) 0%, rgba(184,211,5,1) 100%);
	background: -o-linear-gradient(45deg, rgba(13,147,69,1) 0%, rgba(184,211,5,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(13,147,69,1) 0%, rgba(184,211,5,1) 100%);
	background: linear-gradient(45deg, rgba(13,147,69,1) 0%, rgba(184,211,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9345', endColorstr='#b8d305', GradientType=1 );
}

#masthead{
	.contatos{
        display: flex;
        padding: 5px 10px 5px 10px;
        margin: 0 0 20px 0;
        justify-content: flex-end;
        border-bottom: 1px solid rgba(255, 255, 255, .5);

        li{
            list-style: none;
            padding-left: 30px;

            a{
                font-weight: 700;
                font-size: 14px;
                color: #074822;
                text-decoration: none;
                span{
                    margin-right: 5px;

                    img{
                    	display: inline-block;
                    }
                }
            }
        }
    }
}

.storefront-primary-navigation{
	background-color: #f5f5f5;
}

.woocommerce-products-header{
	display: none;
}
body, *{
font-family: 'Montserrat', sans-serif;
}

ul.products li.product .price{
	font-size: 18px;
	color: #0d9345!important;
	font-weight: 700!important;
}

footer{

	.info{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        .end{
            margin-top: 40px;
            display: flex;

            p{
                margin-left: 20px;
            }
        }

        .contato{
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.8em;

                    a{
                        text-decoration: none;
                        color:#666;
                    }

                    span{
                        svg {
                          fill: #666;
                          width: 14px;
                          path,
                          .cls-1{
                            fill: #666;
                          }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
	.col-full {
		max-width: 100%;
	}

}

@media (max-width: 600px){
	header .contatos li a b {
		display: none;
	}
	.storefront-primary-navigation{
		background-color:transparent;
	}
	.site-header .custom-logo-link img{
		max-width: 150px;
	}
	button.menu-toggle,
	button.menu-toggle, button.menu-toggle:hover{
		background-color: transparent;
	}
	button.menu-toggle, button.menu-toggle:hover{
		border: none;
		outline: none;
	}
	button.menu-toggle:after, button.menu-toggle:before, button.menu-toggle span:before{
		background-color: #FFEB3B;
	}
	button.menu-toggle, button.menu-toggle:hover{
		color: #FFEB3B;
	}
	footer .info{
        display: block;
        .end{
            text-align: center;
            display: block;
            img{
                display: none;
            }
        }

        .contato{
            margin-top: 40px;
            text-align: center;
        }
    }
}

