
.howAquireHeader{
	background-image: url(../images/cover-contratar.jpg);
	height: 457px;
	

	h2{
		font-size: 60px;
		color:white;
		text-align: center;
		margin-top: 90px;
	}
	.button{
		@extend %button;
		width: 250px;
	}
}

#comoContratar{
	h3.title{
		font-size: 42px;
		text-align: center;
		line-height: 1.2em;
		color:#333;
	}
	.intro{
		max-width: 620px;
		padding: 40px 20px;
		box-sizing:border-box;
		width: 100%;
		margin: 0 auto;
		font-size: 16px;
		line-height: 1.8em;
		color: #666;
		text-align: center;

	}

	

	.steps{
		text-align: center;
		overflow: hidden;

		h4{
			font-size: 30px;
		}
		ul{
			margin-top: 60px;
			max-width: 980px;
		    margin: 0 auto;
		    padding: 0 20px;
		    box-sizing: border-box;

			li{
				list-style: none;
				.head{
					display: flex;
    				
    				align-items: center;
					.number{
						-webkit-border-radius: 100px;
						-moz-border-radius: 100px;
						border-radius: 100px;
						font-size: 48px;
						width: 100px;
						height: 100px;
						background: rgb(11,167,76);
						background: linear-gradient(-114deg, rgba(11,167,76,1) 0%, rgba(80,165,4,1) 100%);
						color:white;
						font-weight: 100;
						display: flex;
						align-items: center;
						text-align: center;
						justify-content:center;

					}

					.title{
						padding: 0;
    					margin: 0 0 0 20px;
    					font-size: 36px;
    					font-weight: 100;
					}
				}

				.text{
					display: flex;
    				justify-items: center;

					.line{
						width: 100px;

						div{
							width: 5px;
						    height: 100%;
						    position: relative;
						    background: #0d9546;
						    margin: 0 auto;
						}

					}

					.paragraph{
						width: calc(100% - 140px);
						text-align: left;
						margin-left: 20px;
						line-height: 1.5em;
						color: #666;
						padding-bottom: 60px;
					}
				}
			}

			li:last-child{
				.line div{
					display: none;
				}
			}
		}
	}
}



@media only screen and (min-width: 1366px){
	.howAquireHeader{
		width: 100%;
		padding-bottom: 33.45%;
		height: 0;
	}
	
}

@media (max-width: 600px) {
    .depoimentos ul li h4{
        font-size: 22px;
    }

   .howAquireHeader h2{
   	font-size: 40px;
   }

   #comoContratar h3.title{
   	font-size: 30px;
   }

   #comoContratar .steps ul li .head .title{
   	font-size: 18px;
   	font-weight: 700;
   }
   #comoContratar .steps ul li .head .number{
   	font-size: 28px;
    width: 60px;
    height: 60px;
   }

   #comoContratar .steps ul li .text .line{
   	width: 60px;
   }

   #comoContratar .steps ul li .text .paragraph{
   	width: calc(100% - 80px);
   }

   #comoContratar .steps ul li .head .title{
   	width: calc(100% - 80px);
    text-align: left;
   }

   
}

@media (max-width: 400px) {
	
}

