
.financeHeader{
	background-image: url(../images/cover-financiamento.jpg);
	height: 457px;
	

	h2{
		font-size: 60px;
		color:white;
		text-align: center;
		margin-top: 90px;
	}
	.button{
		@extend %button;
		width: 250px;
	}
}

#financiamento{
	h3.title{
		font-size: 42px;
		text-align: center;
		line-height: 1.2em;
		color:#333;
	}
	.intro{
		max-width: 620px;
		padding: 40px 20px;
		box-sizing:border-box;
		width: 100%;
		margin: 0 auto;
		font-size: 16px;
		line-height: 1.8em;
		color: #666;
		text-align: center;

	}

	.icons{
		max-width: 820px;
		margin: 0 auto;

		ul{
			padding: 0;
			margin: 0;
			text-align: center;
			display: flex;
			justify-content: space-between;

			li{
				width: 33.33%;
				text-align: center;
				list-style: none;
				padding: 0 10px;

				span{
					width: 76px;
					display: block;
					margin: 0 auto;	
				}
			}
			li:nth-child(2){
				span{
					width: 47px;
				}
				
			}

			li:last-child{
				span{
					width: 66px;
				}
				
			}

		}
	}

	.bancos{
		text-align: center;
		margin-top: 120px;
		h4{
			font-size: 30px;
		}
		ul{
			display: flex;
			max-width: 820px;
			margin: 0 auto;
			margin-top: 60px;
			justify-content: space-around;
			flex-wrap:wrap;
			padding: 0;

			li{
				list-style: none;
				text-align: center;
				width: 33.33%;
				margin-bottom: 90px;


				.cls-1{
					fill: #adadad;
				}
				h4{
					font-size: 18px;
					color: #666;
					font-weight: 300;
					margin: 13px 0;
				}
				div{
					width: 39px;
					height: 39px;
					margin: 0 auto;
				}
			}
		}
	}

	.passos{
		text-align: center;
		overflow: hidden;
		background: #e1e1e1;

		h4{
			font-size: 30px;
		}
		ul{
			display: flex;
			max-width: 1200px;
			margin: 0 auto;
			margin-top: 60px;
			justify-content: space-around;
			flex-wrap:wrap;
			padding: 0;

			li{
				list-style: none;
				text-align: center;
				width: 30%;
				margin-bottom: 90px;
				background: white;
				padding: 40px;
				box-sizing:border-box;
				-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);
				box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.2);

				.cls-1{
					
				}
				h4{
					font-size: 18px;
					color: #666;
					font-weight: 300;
					margin: 13px 0;
				}
				div{
					width: 60px;
					height: 70px;
					margin: 0 auto;
				}
			}
			li:first-child{
				div{
					width: 70px;
					height: 70px;
				}
			}
		}
	}
}



@media only screen and (min-width: 1366px){
	.aboutHeader{
		width: 100%;
		padding-bottom: 33.45%;
		height: 0;
	}
	
}

@media (max-width: 600px) {
    .depoimentos ul li h4{
        font-size: 22px;
    }

   .aboutHeader h2{
   	font-size: 40px;
   }

   #financiamento .passos ul li{
   	width: 90%;
   	margin-bottom: 30px;
   }

   #financiamento .icons ul{
   	flex-wrap:wrap;
   }

   #financiamento .icons ul li{
   	width: 90%;
   	margin-bottom: 40px;
   }

   #financiamento .bancos ul li{
   	width: 50%;
   }
}

@media (max-width: 400px) {
	#financiamento .bancos ul li{
   	width: 90%;
   }
}

