/* CSS Document */

/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display:auto;
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
       url('fonts/montserrat-v13-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v13-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display:auto;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('fonts/montserrat-v13-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v13-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display:auto;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('fonts/montserrat-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display:auto;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
	padding:0;
	margin:0;
}
body, p, *{
    font-family: 'Montserrat', sans-serif;	
}

nav.navMobile{
    position: absolute;
    top: 0;
    background: #4ba40d;
    width: 100%;
    height: 100vh;
    display: none;

    .close{
        width: 30px;
        top: 50px;
        position: absolute;
        right: 10px;
        fill: white;
    }

    .menu{
        text-align: center;
        padding: 60px 0 0 0;
        li{
            list-style: none;
            padding: 20px 0;
            a{
                color:white;
                text-decoration: none;
                text-transform: uppercase;
            }
        } 
    }

}
header{
    width: 100%;
    overflow: hidden;
    width: 100%;
    height: 646px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .contatos{
        display: flex;
        padding: 10px;
        margin: 0;
        justify-content: flex-end;
        border-bottom: 1px solid rgba(255, 255, 255, .5);

        li{
            list-style: none;
            padding-left: 30px;

            a{
                font-weight: 700;
                font-size: 14px;
                color: $verdeEscuro;
                text-decoration: none;
                span{
                    margin-right: 5px;
                }
            }
        }
    }

    .top{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        .left{
            display: flex;
            align-items: center;

            h1{
                background-image: url(../images/marca-swe-energia.png);
                background-repeat: no-repeat;
                padding: 0px 0 0 0;
                margin: 0px 0 0 20px;
                height: 57px;
                width: 190px;
                text-indent: -999px;
                overflow: hidden;
            }
            nav ul{
                display: flex;
                justify-content: space-between;


                li{
                    list-style: none;
                    font-size: 14px;

                    a{
                        color: white;
                        text-decoration: none;
                        margin-right: 20px;
                    }
                    
                }

                .current_page_item{
                    font-weight: 700;
                }

            }

            .menuMobile{
                display: none;
            }
        }

        .actions{
            li{
                list-style: none;
                font-size: 12px;
                text-align: center;
                
                a{
                    text-decoration: none;
                    color:white;
                    font-weight: 700;

                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}

h2.title{
    font-size: 50px;
    color: #333;
    text-align: center;
}

.btContato{
    cursor: pointer;
}

form{
    display: flex;
    flex-wrap:wrap;

    label{
        font-size: 14px;
        font-weight: 700;
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    select{
        font-size: 24px;
        margin-top: 0px;
        border: none;
        border-bottom: 1px solid #000;
        width: 100%;
        outline: none;
        margin-bottom: 20px;
        background-color: transparent;
    }
    input[type="submit"]{
        background-color: #f4bf05;
        color:black;
        text-transform: uppercase;
        font-size: 14px;
        padding: 10px 40px;
        font-weight: 700;
        border:none;
    }

    span.wpcf7-not-valid-tip{
        font-size: 12px;
        color:#fc0;
    }
    div.wpcf7-response-output,
    div.wpcf7-validation-errors{
        width: 100%;
        text-align: center;
        border: none;
        color: black;
        background-color: #fc0;
        padding: 10px 0;
        border-radius: 20px;
    }
    

    .btn{
        text-align: right;
    }

}

.modal{
    width: 100%;
    position: fixed;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    top:0;
    left: 0;
    display: none;
    .box{
        position: fixed;
        z-index: 999;
        top: 50%;
        max-width: 520px;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.31);
        -moz-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.31);
        box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.31);
        max-height: 520px;
        overflow: auto;

        label{
            font-size: 14px;
            font-weight: 700;

        }
        input[type="text"],
        input[type="tel"],
        input[type="email"], 
        select{
            font-size: 18px;
            margin-top: 20px;
            border: none;
            border-bottom: 1px solid #000;
            width: 100%;
            outline: none;
            margin-bottom: 20px;
        }

        textarea{
            width: 100%;
        }

        .wpcf7-list-item{
            padding-right: 10px;
        }

        .button{
            @extend %button;
            width: 100%;
        }

        .close{
            width: 24px;
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
}

.prefooter{
    margin-top: 80px;
    padding-bottom: 40px;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 70px;
        padding:0;

        li{
            list-style: none;
            text-align: center;
            padding-bottom: 30px;
            cursor: pointer;
            .ico{
                width: 59px;
                display: block;
                margin: 0 auto;
            }

            a{
                text-decoration: none;
                color:black;
            }

            .modulo{
                width: 70px;
            }
        }


    }
    
}

footer{
    background-color: #eaeaea;
    color:#666;
    font-size: 14px;
    padding: 20px;
    overflow: hidden;
    nav{
        font-weight: 700;
        ul{
            display: flex;
            margin: 0;
            padding: 0;
           

            li{
                list-style: none;
                margin-right: 20px;
                a{
                    text-decoration: none;
                }

            }
        }
    }

    .info{
        display: flex;
        justify-content: space-between;
        .end{
            margin-top: 40px;
            display: flex;

            p{
                margin-left: 20px;
            }
        }

        .contato{
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.8em;

                    a{
                        text-decoration: none;
                    }

                    span{
                        svg {
                          fill: #666;
                          width: 14px;
                          path,
                          .cls-1{
                            fill: #666;
                          }
                        }
                    }
                }
            }
        }
    }


    a{
        color:#666;
    }
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    width: 8.33%; 
}

.col-1{
    width: 8.33%; 
}
.col-2{
    width: 16.66%; 
}
.col-3{
    width: 24.99%; 
}
.col-4{
    width: 33.32%;
}
.col-5{
    width: 41.65%;
}
.col-6{
    width: 49.88%;
}
.col-7{
    width: 58.31%;
}
.col-8{
    width: 66.64%;
}
.col-9{
    width: 74.97%;
}
.col-10{
    width: 83.3%;
}
.col-11{
    width: 91.63%;
}
.col-12{
    width: 100%;
}


@media only screen and (min-width: 1366px){
    header{
        width: 100%;
        background-size: cover;
    }
}

@media (max-width: 767px) {

    h2.title{
        font-size: 40px;
    }

    .prefooter{

    }
    
    footer nav ul{
        display: block;
        text-align: center;

    }
    footer nav ul li{
        display: inline-block;
    }

    footer .info{
        display: block;
        .end{
            text-align: center;
            display: block;
            img{
                display: none;
            }
        }

        .contato{
            margin-top: 40px;
            text-align: center;
        }
    }
}

@media (max-width: 600px) {

    header{
        background-attachment: inherit;
    }

    #header h2{
        font-size: 40px;
    }
    header .top .left{
        nav{
            display: none;
        }

    }

    header .top .actions{
        display: none;
    }
    
    header .contatos li a b{
        display: none;
    }

    h2.title{
        font-size: 30px;
        padding: 0 20px;
        box-sizing:border-box;
    }

    .prefooter ul{
        flex-wrap: wrap;

        li{
            width: 50%;
        }
    }

    header .top .left h1{
        margin: 0px 0 0 0px;
        background-size: 150px;
    }

     header .top .left{
        width: 100%;
        justify-content: space-between;
        align-items: end;
     }

     header .top .left .menuMobile{
        display: block;
     }

    
}