
.homeHeader{
	background-image: url(../images/cover-home.jpg);
	background-repeat: no-repeat;

	h2{
		font-size: 60px;
		color:white;
		text-align: center;
		margin-top: 90px;
	}
	.button{
		@extend %button;
		width: 250px;
	}
}

#home{
	h3.title{
		font-size: 36px;
		color: #0d9345;
		text-align: center;
	}

	p.subtitle{
		font-size: 18px;
		text-align: center;
		line-height: 1.8em;
	}

	section{
		padding: 30px;
	}

	section#proposta{
		.etapas{
			display: flex;
			margin: 0;
		    padding: 20px 0;
		    text-align: center;
		    justify-content: center;

		    li{
		    	list-style: none;
		    	max-width: 209px;
		    	width: 26.66%;
		    	span{
		    		img{
		    			width: 100%;
		    		}
		    	}
		    }

		    .arrow{
		    	padding-right: 20px;
		    	width: 10%;
		    	overflow: hidden;
		    	background-image: url(../images/arrowGraph.png);
		    	background-position: Calc(100% - 10px) Calc(100% - 150px);
		    	background-repeat: no-repeat;
		    	img{
		    		margin-top: Calc(100% - 26px);
		    		max-width:122px; 
		    	}
		    }
		}

		.button{
			@extend %button;
			width: 270px;
		}

		.financeiras{
			display: flex;
		    margin: 50px 0 0 0;
		    padding: 0px;
		    justify-content: center;
		    align-items: center;

			li{
				list-style: none;
				width: 28px;
				padding: 0 20px;
			}

			li:first-child{
				font-size: 10px;
			    text-transform: uppercase;
			    color: #878787;
			    width: 91px;
			    padding-left: 0;
			}
		}
	}

	section.impacto{
		padding: 0;
	    align-items: center;

	    .image{
		    height: 0;
		    padding-bottom: 43.95%;
		    overflow: hidden;
		    background-size: cover;
		    position: relative;
	    }

	    .text{
	    	background: rgb(13,147,69);
	    	background: linear-gradient(-114deg, rgba(13,147,69,1) 0%, rgba(80,165,4,1) 100%);
	    	height: 0;
    		padding-bottom: 43.95%;


    		.ctn{
    			max-width: 410px;
			    margin: 0 auto;
			    padding: 20px;
			    box-sizing: border-box;
			    background-image: url(../images/icoRaio.svg);
			    background-repeat: no-repeat;
			    background-size: 130px;
			    background-position: 100% 40px;

    			h4{
	    			font-size: 36px;
	    			color:white;
	    			margin: 30px 0px;
	    		}

	    		p{
	    			font-size: 16px;
	    			line-height: 1.6em;
	    			color:white;
	    		}
    		}
	    }
	}

	section.sobre{
		padding: 0;
	    align-items: center;

	    .image{
		    height: 0;
		    padding-bottom: 43.95%;
		    overflow: hidden;
		    background-size: cover;
		    position: relative;
	    }

		.text{
			background: rgb(212,109,27);
			background: linear-gradient(66deg, rgba(212,109,27,1) 0%, rgba(250,195,57,1) 100%);
			height: 0;
    		padding-bottom: 43.95%;

    		.ctn{
    			max-width: 410px;
			    margin: 0 auto;
			    padding: 20px;
			    box-sizing: border-box;
			    background-image: url(../images/icoPlaca.svg);
			    background-repeat: no-repeat;
			    background-size: 130px;
			    background-position: 100% 40px;

    			h4{
	    			font-size: 36px;
	    			color:white;
	    			margin: 30px 0px;
	    		}

	    		p{
	    			font-size: 16px;
	    			line-height: 1.6em;
	    			color:white;
	    		}

	    		.itens{
	    			ul{
	    				
	    				background: white;
					    padding: 0;
					    margin: 0 auto;
					    width: 260px;
					    height: 260px;
					    -webkit-border-radius: 150px;
					    -moz-border-radius: 150px;
					    border-radius: 150px;
					    text-align: center;

					    li{
					    	list-style: none;
					    	color: #e7972a;
					    	line-height: 1.4em;
					    	padding: 50px 20px 0px;
    						box-sizing: border-box;
					    }

	    			}
	    			
	    		}
    		}

    		.slick-prev {
    			background-image: url(../images/arrowSlideL.png);
			    left: -34px;
			    top: 115px;
    		}
    		.slick-arrow{
    			background-repeat: no-repeat;
			    border: none;
			    text-indent: -999px;
			    position: absolute;
			    background-color: transparent;
			    width: 30px;
			    height: 30px;
			    outline: none;

    		}
    		.slick-next{
    			background-image: url(../images/arrowSlideR.png);
			    right: -44px;
			    top: 115px;
			    overflow: hidden;
    		}
		}
	}
}

@media only screen and (min-width: 1366px){
	#home section.sobre .text .ctn .itens ul{
		width: 330px;
    	height: 330px;		
    	border-radius: 180px;
	}
}

@media only screen 
and (min-width : 961px) 
and (max-width : 1160px) {
	#home section.impacto .image,
	#home section.impacto .text,
	#home section.sobre .text,
	#home section.sobre .image{
		min-height: 515px;
		padding-bottom: inherit;
	}
	
}

@media only screen 
and (min-width : 768px) 
and (max-width : 960px) {
	.homeHeader h2{
		font-size: 50px;
	}
	#home section.impacto .image,
	#home section.impacto .text,
	#home section.sobre .text,
	#home section.sobre .image{
		min-height: 515px;
		padding-bottom: inherit;
	}
	
}

@media only screen 
and (max-width : 767px) {
	.homeHeader h2{
		font-size: 50px;
	}
	#home section.impacto .image,
	#home section.sobre .image{
		width: 100%;
		
		float: none;
	}
	#home section.impacto .text,
	#home section.sobre .text{
		width: 100%;
		height: inherit;
		padding-bottom: inherit;
		float: none;

	}

	#home section.sobre {
		flex-direction: column-reverse;
	    display: flex;
	    flex-wrap: wrap;
	    float: none;
	    overflow: hidden;
	}
	
}

@media (max-width: 600px) {
	.homeHeader h2{
		font-size: 40px;
	}

	#home h3.title{
		font-size: 28px;
	}
	#home section#proposta .button{
		width: 100%;
	}
	#home section#proposta .financeiras{
		display: none;
	}

	#home section#proposta .etapas{
		display: block;
	}
	#home section#proposta .etapas li{
		width: 100%;
		margin:0 auto;
	}

	#home section#proposta .etapas .arrow{
		display: none;
	}
	header .top .left h1{
		padding: 0;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

	

	
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	
}

@media (max-width: 767px) {
	

}