$verdeEscuro: #074822;

%button{
	font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: 700;
   	background: rgb(11,167,76);
   	background: linear-gradient(-114deg, rgba(11,167,76,1) 0%, rgba(80,165,4,1) 100%);
    padding: 10px 15px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: block;
    box-sizing:border-box;
    
}



@mixin round($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}