.pageSimuladorHeader{
	height: inherit;
	
	ul.steps{
		display: flex;
	    color: white;
	    font-size: 18px;
	    margin-top: 50px;

	    li{
	    	list-style: none;
	    	margin-right: 40px;
	    	opacity: .5;
	    	filter: alpha(opacity=50);

	    	span{
				color: $verdeEscuro;
				background-color: white;
				@include round(60px);
				height: 30px;
				width: 30px;
				display: inline-block;
    			box-sizing: border-box;
    			text-align: center;
    			padding-top: 4px;
    			margin-right: 10px;
	    	}
	    }

	    li.alpha{
	    	opacity: 1;
	    	filter: alpha(opacity=100);
	    }
	}
	
	h2{
		font-size: 50px;
		color:white;
		text-align: center;
		margin-top: 90px;

		.cls-1{
			fill:white;
		}
		svg{
			width: 60px;
		}
	}
	.button{
		@extend %button;
		width: 250px;
	}
}

.greenBd{
	background: rgba(255,192,0,1);
	background: -moz-linear-gradient(45deg, rgba(255,192,0,1) 0%, rgba(13,147,69,1) 0%, rgba(255,192,0,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,192,0,1)), color-stop(0%, rgba(13,147,69,1)), color-stop(100%, rgba(255,192,0,1)));
	background: -webkit-linear-gradient(45deg, rgba(255,192,0,1) 0%, rgba(13,147,69,1) 0%, rgba(255,192,0,1) 100%);
	background: -o-linear-gradient(45deg, rgba(255,192,0,1) 0%, rgba(13,147,69,1) 0%, rgba(255,192,0,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(255,192,0,1) 0%, rgba(13,147,69,1) 0%, rgba(255,192,0,1) 100%);
	background: linear-gradient(45deg, rgba(255,192,0,1) 0%, rgba(13,147,69,1) 0%, rgba(255,192,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc000', endColorstr='#ffc000', GradientType=1 );
}

#simulador{
	.form{
		max-width: 890px;
		margin:0 auto;
		color: white;

		[class*='col-'] {
			padding: 0 10px;
			box-sizing:border-box;
			margin-bottom: 40px;
		}
		input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="number"],
        select{
        	border-bottom: 1px solid white;
        	color:white;	
        }

        .wpcf7-list-item-label{
        	padding-right: 20px;
        }
		.input{

		}
	}
}

#propostaFinanciamento{
	.form{
		max-width: 890px;
		margin:0 auto;
		color: white;

		[class*='col-'] {
			padding: 0 10px;
			box-sizing:border-box;
			margin-bottom: 40px;
		}
		input[type="text"],
        input[type="tel"],
        input[type="email"],
        input[type="number"],
        input[type="date"],
        select{
        	border-bottom: 1px solid white;
        	color:white;	
        }

        .wpcf7-list-item-label{
        	padding-right: 20px;
        }
		.input{

		}
	}
}

#suaUsina{
	section.detalhes{
		.ctn{
			max-width: 890px;
			margin: 0 auto;
			color:white;

			[class*='col-'] {
				padding: 0 10px;
				box-sizing:border-box;
				margin-bottom: 40px;
			}

			span{
				font-size: 14px;
				font-weight: 700;
			}

			p{
				padding: 0;
				margin: 8px 0 0px 0;
				span{
					font-size: 30px;
					font-weight: 300;
				}	
			}
		}
	}

	.gChart{
		margin-top: 40px;
		text-align: center;
		padding-bottom: 40px;
		color:white;
		font-weight: 700;

		.ctn{
			max-width: 890px;
			margin: 0 auto;
			color:white;
			.sec{
				.chart{
					position: relative;
					
					span{
						padding: 0 10px;
						font-size: 20px;
					}
					.update{
						color: $verdeEscuro;
					}

					#chart_div{
						margin-top: 10px;
						@include round(12px);
						overflow: hidden;
						position: relative;
					}
				}
				
			}
			#chart{
				position: relative;
			}
		}
	}
	.float-finance{
		background-color: #f4bf05;
		padding: 20px 0 10px 0;
		position: fixed;
		bottom: -220px;
		width: 100%;
		z-index: 9;

		.ctn{
			display: flex;
    		align-items: center;
    		max-width: 1000px;
    		margin: 0 auto;
    		justify-content: space-between;
	    	
	    	.info{
				margin-right: 30px;
	    	}

    		label{
				font-weight: 700;
				font-size: 14px;
			}
			p{
				font-size: 30px;
				margin: 5px 0 0 0;
			}
			.reload{
				background-image: url(../images/reload.gif);
				background-size: 70px;
			    background-repeat: no-repeat;
			    background-position: center;
			}
			#btnFinanciamento{
				background-color: #0d9345;
				text-transform: uppercase;
				color:white;
				display: inline-block;
				font-size: 14px;
				font-weight: 700;
				text-decoration: none;
				padding: 10px 10px;
			}


		}
		.legal{
			padding-top: 15px;
		    font-size: 10px;
		    text-align: center;
		}
	}
	.produtos{
		background-color: white;
		padding: 0px 20px 20px 20px;
		text-align: center;
		padding-bottom: 160px;

		h2.title{
			padding: 40px 0;
			font-size: 28px;
		}

		.update{
			.col-4{

				.ctn{
					padding: 20px;
					box-sizing:border-box;
				}

				a{
					@extend %button;
					margin-top: 20px;
				}
				.imgProduto{
					height: 280px;
				}

				h2{
					font-size: 16px;
					font-weight: 100;
				}
				p{
					font-size: 18px;
					font-weight: 700;
					color:$verdeEscuro;
				}
			}

			.aba{
				padding: 20px 0;
			}

			.ativo{
				-webkit-box-shadow: 0px 0px 15px 0px rgba(168,168,168,1);
				-moz-box-shadow: 0px 0px 15px 0px rgba(168,168,168,1);
				box-shadow: 0px 0px 15px 0px rgba(168,168,168,1);

				.aba{
					background-color: #eaeaea;
				    padding: 20px 0;
				    font-weight: 700;
				}
			}
		}
	}

	.economia{
		text-align: center;
		padding-bottom: 0px;
		span{
			padding: 10px 0px;
			font-size: 20px;
			text-align: center;
			font-weight: 700;
			color:white;
			display: block;
		}
		.table{
			max-width: 890px;
			width: 100%;
			background-color: white;
			margin: 0 auto;
			padding: 0px;
			@include round(12px);
			overflow: hidden;

			ul{
				display: flex;
				flex-wrap:wrap;
				padding: 0;
				margin: 0;

				li{
					width: 25%;
					list-style: none;
					text-align: center;
					padding: 12px 0;
					border-bottom: 1px solid #eaeaea;
				}
				.green{
					color:#0d9345;
				}
				.red{
					color:#bb0009;
				}
			}

			ul.header{
				font-weight: 700;

				li{
					background-color: #eaeaea;
				}
			}
		}
	}

	.chartTable{
		margin-top: 40px;
		text-align: center;
		padding-bottom: 40px;
		color:white;
		font-weight: 700;

		.ctn{
			max-width: 890px;
			margin: 0 auto;
			color:white;
			.sec{
				.chart{
					position: relative;
					
					span{
						padding: 0 10px;
						font-size: 20px;
					}
					.update{
						color: $verdeEscuro;
					}

					#chart_table{
						margin-top: 10px;
						@include round(12px);
						overflow: hidden;
						position: relative;
					}
				}
				
			}
			#chart{
				position: relative;
			}
		}
	}
}

@media only screen 
and (max-width : 900px) {
	.col-4 {
	    width: 50%!important;
	}
}

@media only screen 
and (max-width : 600px) {
	.col-4 {
	    width: 100%!important;
	}
	.pageSimuladorHeader ul.steps li label{
		display: none;
	}

	.pageSimuladorHeader ul.steps{
		justify-content: space-between;
	}
	.pageSimuladorHeader h2{
		margin-top: 50px;
	}

	//SUA USINA

	#suaUsina section.detalhes .ctn .first{
		text-align: center;
	}

	#suaUsina .produtos .update .col-4 .imgProduto{
		width: 100%;
		height: auto;
	}

	#suaUsina .produtos{
		padding: 0;
	}

	#suaUsina .produtos .parent{
		overflow: auto;
		padding-bottom: 30px;

		.update{
			display: flex;
			width: 900px;

			.col-4{
				width: 42%!important;
			}
		}
	}

	#suaUsina .gChart .chart{
		padding: 0 10px;
	}

	#suaUsina .float-finance{
		bottom: 0;
		padding: 10px 0 10px 0;
	}

	#suaUsina .float-finance .ctn{
		padding:0 10px;
	}
	#suaUsina .float-finance .ctn .info{
		text-align: center;
		margin-right: 0;
	}

	#suaUsina .float-finance .ctn label,
	#suaUsina .float-finance .ctn span{
		font-size: 10px;
	}
	#suaUsina .float-finance .ctn p{
		font-size: 20px;
	}

	#suaUsina .float-finance .ctn{
		display: block;
	}

	#suaUsina .float-finance .ctn a{
		text-align: center;
    	font-size: 11px;
	}

	#propostaFinanciamento .form .btn input,
	#simulador .form .btn input{
		width: 100%;

	}

	#suaUsina .economia .table ul li{
		font-size: 12px;
	}
	
}

