
.aboutHeader{
	background-image: url(../images/coverAbout.jpg);
	height: 457px;
	

	h2{
		font-size: 60px;
		color:white;
		text-align: center;
		margin-top: 90px;
	}
	.button{
		@extend %button;
		width: 250px;
	}
}

#sobre{
	.intro{
		max-width: 790px;

		padding: 40px 20px;
		box-sizing:border-box;
		width: 100%;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1.8em;
		color: #666;
	}

	.fotos{
		background-color: #f4f4f4;
		overflow: hidden;
    	padding: 40px 0;

		ul.slider{
			padding: 0;
			margin: 0;

			li.slick-slide{
				max-width: 760px;
				width: 790px;
				overflow: hidden;
				margin: 20px 30px;
				opacity: 0.6;
				transition: all 300ms ease;
				outline: none;

				img{
					width: 100%;
					
				}
			}

			li.slick-center{
				opacity: 1;
				transform: scale(1.08);
			}
		}
		.slick-dots{
			text-align: center;
			margin: 20px 0 0 0;
			padding: 0;

			li{
				display: inline;
				margin: 0 10px !important;
				outline: none;
				cursor: pointer;
			}
			button{
				overflow: hidden;
			    text-indent: -99px;
			    background-color: #a0a0a0;
			    border: none;
			    -webkit-border-radius: 20px;
			    -moz-border-radius: 20px;
			    border-radius: 20px;
			    width: 7px;
			    height: 7px;
			    padding: 0;
			    margin: 0px 0 0 0;
			    outline: none;
			    cursor: pointer;
			    
			}
			.slick-active{

				button{
					background-color: #0d9345;
					width: 10px;
					height: 10px;
					margin-top: 0px;
				}
			
			}
		}
	}
}

.depoimentos{
	ul{
		padding: 0;
		li{
			list-style: none;
			text-align: center;
			padding: 30px 0;
			border-top: 1px solid #e3e3e3;
			transition: all 300ms ease;
			cursor: zoom-in;

			h4{
				font-size: 30px;
				font-weight: 500;
				padding: 0;
				margin: 0;
			}
			h5{
				font-size: 18px;
				font-weight: 500;
				padding: 0;
				margin: 0;
			}

			.text{
				display: none;
				padding: 20px;
				box-sizing:border-box;
			}
		}

		li.active{
			background: rgb(13,147,69);
			background: linear-gradient(90deg, rgba(13,147,69,1) 4%, rgba(14,194,89,1) 100%);
			cursor: zoom-out;
		}
	}
}

@media only screen and (min-width: 1366px){
	.aboutHeader{
		width: 100%;
		padding-bottom: 33.45%;
		height: 0;
	}
	
}

@media (max-width: 600px) {
    
    .depoimentos ul li h4{
        font-size: 22px;
    }

   .aboutHeader h2{
   	font-size: 40px;
   }
}

